@inject IAdditionalService _aService
<div class="card border-left-danger shadow h-100 py-2">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                    Covid-19 Status: </div>
                <div class="h10 mb-0 font-weight-bold text-gray-800">Confirmed: @cases.confirmed,     Recovered: @cases.recovered</div>
                <div class="h10 mb-0 font-weight-bold text-gray-800">Critical @cases.critical,     Deaths: @cases.deaths </div>
                <div class="h10 mb-0 font-weight-bold text-gray-800 justify-center">Last Update: @cases.lastUpdate </div>
            </div>
            <div class="col-auto">
                <i class="fas fa-virus fa-2x text-gray-300"></i>
            </div>
        </div>
    </div>
</div>
@code
{
    CoronaCases cases = new CoronaCases();
    protected override async Task OnInitializedAsync()
    {
     cases =  await _aService.GetCoronaCases();
    }
}